:root {
	--secondsPseudo: '';
}

// colours
$darkBlue: #1A1F28;
$midBlue: #212733;
$lightBlue: #738699;
$gold: #FFBF4B;
$orange: #FF9473;
$selection: #FFFFFF25;

// font settings
$mainFont: sans-serif;
$mainFontSize: 26px;
$mainFontColour: $lightBlue;

body {
	background-color: $midBlue;
	font-family: $mainFont;
	font-size: $mainFontSize;
	color: $mainFontColour;
	overflow-y: hidden;
}

button {
   background-color: #ffffff00;
   color: $mainFontColour;
   border: none;
	outline: none;
}

::selection {
	background-color: $selection;
}

ion-icon {
	font-size: 32px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.highlight {
	color: $gold;
}

#clock {
	font-family: monospace;
	font-size: 250%;
	outline: none;
}

.clockSeconds:after {
	content: var(--secondsPseudo);
	font-size: 50%;
}

#resetIcon:active, #playIcon:active {
	color: $gold;
}